// Global styling
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875rem;
}

// disable scrolling except province details when desktop version
@media (min-width: 992px) {
	body {
		overflow: hidden;
	}
}

body.sticky-footer {
	margin-bottom: $sticky-footer-height;
	.content-wrapper {
		min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
	}
}

body.fixed-nav {
	padding-top: 60px;
}

.content-wrapper {
	min-height: calc(100vh - #{$sticky-footer-height});
	background: $gray-content;
}

@media (min-width: 992px) {
	.content-wrapper {
		margin-top: -4px;
		padding-top: 1rem;
	}
}