// Additional Text Helper Class
.smaller {
	font-size: 0.7rem;
}

// Helper class for the overflow property
.o-hidden {
	overflow: hidden !important;
}

// Helper classes for z-index
.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

// Remove padding of bootstrap grid

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

// Background colors for provinces

.bg-sky-blue {background: $sky-blue;}
.bg-light-green {background: $light-green;}
.bg-blue {background: $blue;}
.bg-teal {background: $teal;}
.bg-faded-blue {background: $faded-blue;}
.bg-faded-green {background: $faded-green;}
.bg-orange {background: $orange;}
.bg-orange-100 {background: $orange-100;}
.bg-orange-200 {background: $orange-200;}
.bg-orange-300 {background: $orange-300;}
.bg-orange-400 {background: $orange-400;}
.bg-orange-500 {background: $orange-500;}
.bg-orange-600 {background: $orange-600;}
.bg-orange-700 {background: $orange-700;}


// Tooltip Style override

.tooltip-inner {
	padding: 13px 23px;
	color: $gray-500;
	text-align: center;
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0;
}

// right tooltip
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
	margin-top: 0;
	content: "";
	border-width: 5px 5px 5px 0;
	border-right-color: $white;
}

// top tooltip
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: $white;
}

// top tooltip
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: $white;
}

// left tooltip
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: $white;
}

// tooltip for philippine map

.map-tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.map-tooltip.bs-tooltip-top .arrow::before {
	border-width: 10px 10px 0;
}

.map-tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.map-tooltip.bs-tooltip-bottom .arrow::before {
	border-width: 0 10px 10px;
}

.map-tooltip.bs-tooltip-auto[x-placement^=top] .arrow,
.map-tooltip.bs-tooltip-top .arrow {
	bottom: -6px;
}

.map-tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow,
.map-tooltip.bs-tooltip-bottom .arrow {
	top: -6px;
}