#mainNav.static-top {
	 .sidenav-toggler {
		 display: none;
	}
	 @media (min-width: 992px) {
		 .sidenav-toggler {
			 display: flex;
		}
	}
}
 body.sidenav-toggled {
	 #sidenavToggler {
		 i {
			 -webkit-transform: scaleX(-1);
			 -moz-transform: scaleX(-1);
			 -o-transform: scaleX(-1);
			 transform: scaleX(-1);
			 filter: FlipH;
			 -ms-filter: 'FlipH';
		}
	}
}
 .arrow-toggler-container {
	 position: absolute;
	 top: 50%;
	 right: -24px;
	 z-index: 1000;
	 #sidenavToggler {
		 padding: 5px 0px;
		 box-sizing: border-box;
		 background: #cbcbcb;
		 color: #333333;
		 display: block;
		 border-radius: 0 5px 5px 0;
		 font-size: 16px;
		 height: 36px;
		 width: 24px;
	}
}
